<h2 class="title">Activity Stream</h2>

<ul class="stream">
    <li>
      <i class="fas fa-birthday-cake"></i>
      &nbsp;
      Birthday: Neil
    </li>
    <li>
      <i class="fas fa-user-tie"></i>
      &nbsp;
      Work-Anniversary: Nidhi
    </li>
    <li>
      <i class="fas fa-glass-martini-alt"></i>
      &nbsp;
      Wedding Anniversary: Neil
    </li>
  <li>
    Content: Replication in MongoDB<br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/asO_S_iWJVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </li>
</ul>
