<form>
  <div class="field">
  <label class="label" for="skill_input">Search for Skill</label>
  <div class="control" style="width: 500px;">
  <input class="input" placeholder="skill" id="skill_input" name="skill" />
  </div>
  </div>

  <input type="submit" class="button is-link" value="Search" />
</form>

<br /><br />

<h3 class="title">Search Results for: "Javascript"</h3>
<ul>
  <li>
    <strong>Neil</strong><br />
    HTML, CSS, Javascript
  </li>
  <li>
    <strong>Nidhi</strong><br />
    ExpressJS, NodeJS, Javascript
  </li>
</ul>